extends layout

block index
	.container(data-role="content",data-theme="e")
		.ui-grid-d
			.ui-block-a
			.ui-block-b
			.ui-block-c
				p Player 3
			.ui-block-d
			.ui-block-e
		.ui-grid-d
			.ui-block-a
			.ui-block-b
				p Player 2
			.ui-block-c
			.ui-block-d
				p Player 4
			.ui-block-e
		.ui-grid-d
			.ui-block-a
				p Player 1
			.ui-block-b
			.ui-block-c
			.ui-block-d
			.ui-block-e
				p Player 5
		.ui-grid-d
			.ui-block-a
			.ui-block-b
			.ui-block-c
				.card
					.cardTop
						p 7
					.cardBottom
						p 7
			.ui-block-d
			.ui-block-e
	.container(data-role="content",data-theme="e")
		.ui-grid-a
			.ui-block-a
				h3 HISTORY REPEATS ITSELF
				p Anck-su-namun plays 3 of Hearts.
				p Esmerelda gives you 4 chances...
			.ui-block-b(data-role="content",data-theme="a")
				center
					h2 Best Times
				table
					thead
						tr
							th NAME
							th TIME
					tbody
						tr
							td JIM
							td 1:54
						tr
							td MARK
							td 1:59
						tr
							td SALLY
							td 2:06
		.ui-grid-a
			.ui-block-a
				table
					thead
						tr
							th 
								h2 TIME
							th 
								h2 POINTS
					tbody
						tr
							td 
								h3 2:24
							td 
								h3 94
			.ui-block-b(data-role="content",data-theme="a")
				center
					h2 Most Points
				table
					thead
						tr
							th NAME
							th POINTS
					tbody
						tr
							td JIM
							td 112
						tr
							td SALLY
							td 108
						tr
							td GEORGE
							td 95