extends layout

block index
	div(data-role="header",data-theme="e") 
		h1 ALMOST READY...
	div(data-role="content",data-theme="e")
		form#begin
			label(for="name") Name: 
			input(type="text",name="name",id="name")
			.ui-grid-a
				.ui-block-a
					label(for="jokers") Jokers? 
					select(name="jokers",id="jokersFlip",data-role="slider")
						option(value="0") Off
						option(value="1") On
				.ui-block-b
					label(for="slider-0") How many Opponents? 
					input(type="range",name="numOpponents",id="slider-0",value="3",min="1",max="5",data-highlight="true",data-theme="e")
			p
				a(id="startButton",href="#game",data-ajax="false",data-role="button",data-icon="star",action='/',method='POST') Let's Play!