doctype 5
html
	head
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title Egyptian Ratscrew
		script(src='/javascripts/jquery-1.9.1.min.js')
		- //http://code.jquery.com/jquery-1.9.1.js
		script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
		script(src='/javascripts/jquery.ui.touch-punch.min.js')
		script(src='/javascripts/jquery.mobile-1.3.1.min.js')
		script(src='/javascripts/ratscrew.js')
		link(rel='stylesheet',src='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.3.1.min.css')
		link(rel='stylesheet', href='/stylesheets/ratscrew.css')
	body
		.container(data-role="page",id="prompt")
			block index
		- console.log('so the layout refreshes')
		.container(data-role="page",id="game")
			div(data-role="header",data-theme="e") 
				h1 EGYPTIAN RATSCREW
			div#gameArea(data-role="content",data-theme="e")
				block game
			div#container(data-role="content",data-theme="e")
				.ui-grid-a
					div#logContainer.ui-block-a
						h3 HISTORY REPEATS ITSELF
						div#gameLog
					.ui-block-b(data-role="content",data-theme="a")
						center
							h2 Best Times
						table
							thead
								tr
									th NAME
									th TIME
							tbody
								tr
									td JIM
									td 1:54
								tr
									td MARK
									td 1:59
								tr
									td SALLY
									td 2:06
				.ui-grid-a
					.ui-block-a
						table
							thead
								tr
									th 
										h2 TIME
									th 
										h2 POINTS
							tbody
								tr
									td 
										h3 2:24
									td 
										h3 94
					.ui-block-b(data-role="content",data-theme="a")
						center
							h2 Most Points
						table
							thead
								tr
									th NAME
									th POINTS
							tbody
								tr
									td JIM
									td 112
								tr
									td SALLY
									td 108
								tr
									td GEORGE
									td 95
		div(data-role="footer")
			center
				p Copyright 2013 - Barely-able-to-code dot com.