.card {
  border: 1px solid #000;
  
  width: 130px;
  height: 200px;
  /* Rounded Corners  */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.cardTop {
  position:relative;
  top: 0px;
  padding: 4px 4px;
  font-size: 1.6em;
}

.cardBottom {
  position: relative;
  top: 110px;
  padding: 4px 4px;
  font-size: 1.6em;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg); 
  -o-transform:rotate(-180deg); 
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}