
.game {
  background-color: blue;
}


.gameTable {
  width: ;
}

.card {
  background-color: #fdffdd;
  border: 1px solid #000;  
  width: 64px;
  height: 100px;
  /* Rounded Corners  */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 1.2em;
}

.cardTop p {
  position:relative;
  top: -24px;
  padding: 4px 4px;
  
}

.cardBottom p {
  position: relative;
  top: 0px;
  padding: 4px 4px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg); 
  -o-transform:rotate(-180deg); 
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}